/* Mobile and Desktop */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(to bottom right, #ABABAB, #0099FF);
  background-repeat: no-repeat;
  color: black;
  /* font-family: 'Roboto Mono', 'Roboto Mono', sans-serif; */
  
}

@font-face {
    font-family: Rammetto One;
    src: url(../../../media/fonts/Rammetto_One/RammettoOne-Regular.ttf);
  }

*:focus {
    outline: none;
}

.navbar {
    padding: 0.2rem;

}

.company-logo {
    width: 10rem;
}

.header-intro {
    display: grid;
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    font-family: "Rammetto One", serif;
    grid-template-columns: 10rem auto 10rem;
    margin-top: 3rem;
    text-shadow: 1px 3px 4px rgba(0, 170, 248, 0.767);
    margin-bottom: 40rem;
}

.header3 {

    color: #0099FF;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 100;
    font-style: normal;
    font-family: "Rammetto One", serif;
    text-shadow: 1px 3px 4px rgba(0, 170, 248, 0.767);
}

.services-container {
    margin-bottom: 17rem;
}

.service-offered {
    cursor: pointer;
}

.service-offered:hover {
    color: #0099FF;
}

.service-offered h5 {
    font-style: normal;
    text-align: center;
    font-family: "Rammetto One", serif;

}

.gfiao-container {
    margin-bottom: 20rem;
}

@import "~react-image-gallery/styles/css/image-gallery.css";



.contact-person-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    color: grey;

}

.contact-person-container-header {
    grid-column: 1 / 6;
}

.contact-person-header {
    color: rgba(0, 170, 248, 0.767);
}

/* MOBILE */
@media only screen and (max-width: 767px) {

    .header-intro {
        display: grid;
        padding: 1rem;
        font-size: 20px;
        margin-top: 6rem;
        grid-template-columns: 1fr;
    }

    .contact-person-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-person-container-header {

        grid-column: 1 / 4;
    }

}